<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="WalkingTecMVVM">
      <section name="Common" type="WalkingTec.Mvvm.Abstraction.CommonConfig, WalkingTec.Mvvm.Abstraction" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="default" connectionString="Data Source=127.0.0.1;port=3306;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10001" connectionString="Data Source=127.0.0.1;port=3306;user id=sa;password=abcd-1234;Initial Catalog=BPOStock1" providerName="MySql.Data.MySqlClient" />
    <add name="10002" connectionString="Data Source=127.0.0.1;port=3306;user id=sa;password=abcd-1234;Initial Catalog=BPOStock12" providerName="MySql.Data.MySqlClient" />-->
    <add name="default" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10001" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10002" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10003" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10004" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10005" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10006" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10007" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10008" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10009" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10010" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10011" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10012" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10013" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10014" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10015" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10016" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
    <add name="10017" connectionString="Data Source=10.99.20.68;port=7002;user id=sa;password=abcd-1234;Initial Catalog=BPOStock" providerName="MySql.Data.MySqlClient" />
   
  </connectionStrings>
  <appSettings>
    
    <!-- 服务地址配置 -->
    <!--<add key="Base" value="http://shopadmin.p.net/AdminService/" />-->
    <add key="Base" value="http://10.99.20.60:9090//AdminService/" />
    <add key="Promotion" value="http://promotion.p.net/AdminService/" />
    <add key="Product" value="http://product.p.net/AdminService/" />
    <add key="Stock" value="http://stock.p.net/AdminService/" />
    <add key="Order" value="http://order.p.net/AdminService/" />
    <add key="Pay" value="http://pay.p.net/AdminService/" />
    <add key="Member" value="http://member.p.net/AdminService/" />
    <!-- 服务地址配置 -->
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--是否使用ExtjsChart，true为ExtjsChart，false为FusionCharts-->
    <add key="IsExtjsChart" value="true" />
    <!-- Redis Server连接串 -->
    
    <add key="10001" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10002" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10003" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10004" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10005" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10006" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10007" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10008" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10009" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10010" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10011" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10012" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10013" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10014" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10015" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10016" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
    <add key="10017" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=1;Poolsize=3;ConnectTimeout=180;" />
  </appSettings>
  <system.web>
    <!-- 上传文件大小2G，单位Kb -->
    <httpRuntime maxRequestLength="2097152" requestValidationMode="2.0" executionTimeout="3600" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="30" />
    <compilation targetFramework="4.5" debug="true" />
    <authentication mode="Forms" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <!-- 上传文件大小2G,单位Byte -->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <WalkingTecMVVM>
    <Common QuickDebug="true" CookiePrefix="BPOStock" SyncDb="false" MainMachine="true" EnableLog="true" EnableServiceMonitor="false" NoRight="Invisible">
      <SystemLoop EnableSystemLoop="false" EnableMessage="false" EnableNotice="false" EnableOnlineCheck="false" />
      <EmailService UseThread="false" SMTPServiceIP="smtp.126.com" SMTPServicePort="25" EmailUserName="emailhelper" EmailPassWord="abcd-1234" SenderAddress="emailhelper@126.com" SenderName="emailhelper" SleepTime="0.1" EmailAttachmentLimit="1" />
      <UI Style="extjs" Theme="neptune" />
      <Storage StorageType="Local" UploadDir="c:\upload" TempExportDir="c:\tempexport" />
      <DFSServer IsNginx="false" StorageMaxConnection="100" TrackerMaxConnection="100" ConnectionTimeout="100" ConnectionLifeTime="3600">
        <TrackerServer>
          <add IP="10.99.20.66" Port="7004" />
        </TrackerServer>
        <BusinessType>
          <add BusinessTypeName="mobile">
            <GroupMapping>
              <add Group="g1" InsideUrlHeader="http://10.99.20.66/g1" OutsideUrlHeader="http://10.99.20.66/g1" />
            </GroupMapping>
          </add>
          <add BusinessTypeName="homepage">
            <GroupMapping>
              <add Group="g1" InsideUrlHeader="http://10.99.20.66/g1" OutsideUrlHeader="http://10.99.20.66/g1" />
            </GroupMapping>
          </add>
        </BusinessType>
      </DFSServer>
      <StaticFile Ext="css|js|gif|js|bmp|tif|jpg|jpeg|png" />

      <!--多语言配置-->
      <Languages>
        <add Code="zh-cn" Text="简体中文" IsDefault="true" />
        <add Code="en" Text="English" />
      </Languages>
    </Common>
  </WalkingTecMVVM>
</configuration>
